label {
    display: block;
}

input {
    padding: 5px;
    border-radius: 2px;
    border: none;
    background-color: cornsilk;
    margin-bottom: 10px;
}
textarea {
    padding: 5px;
    border-radius: 2px;
    border: none;
    background-color: cornsilk;
    font-size: 1.2em;
    margin-bottom: 10px;
}

button {
    padding: 5px;
    border-radius: 2px;
    border: none;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
}
select {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: cornsilk;
    font-size: 1.2em;
    margin-bottom: 10px;
}

a {
    color: black;
    text-decoration: none;
}
menu {
    color: black;
    font-size: 1.2em;
    padding: 20px;
    max-width: 960px;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
section {
    font-weight: bold;

    font-family: sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
    .sectionInput {
        font-size: 1.0em;
    }
}

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;

}


.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
}

label {
    font-weight: bold;
    font-size: 1.2em;

}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
}
#submitButton{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.outerBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

#ingredientsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 1000px;
}

.create-ingredients-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.recipeResponse {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    .recipeItem {
        display: flex;
        flex-direction: column;
        margin: 1rem;
        cursor: pointer;
        border-radius: 10px;

        .recipeImage {
            display: flex;
            height: 12rem;
            border-radius: 10px;
        }
    }
}
.itemDescription{
display: flex;
    align-self: center;
}

.recipeSummary {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    .summaryContent {
        background-color: beige;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        height: auto;
        /*overflow: scroll;*/
        border-radius: 20px;

        & > label {
            font-weight: bold;
        }

        & > h1 {
            text-align: center;
        }

        .summaryImage {
            float: left;
            margin-right: 2rem;
            border-radius: 10px;
        }

        .instructions {
            display: flex;
        }


    }

    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
}

.timeFilter {
    display: none;
    /*padding: 2rem;*/
    padding-bottom:2rem ;
    padding-top:2rem ;
    padding-right:2rem ;
}

li{
    list-style-type: none;
    text-decoration: none;
}

